.panel {
	display: flex;
	width: 50%;
	min-height: 80px;
	padding-left: 20px;
}

.top-panel {
	align-items: center;
	border: blue solid 1px;
}

.bottom-panel {
	flex-direction: column;
	border: red solid 1px;
}